target/META-INF/mule-src/sys-viacep-dev/src/main/mule/sys-viacep-dev.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="264dd3ce-2bbf-43dc-a9c7-03e78b44d476" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sys-viacep-devFlow" doc:id="1b7f9651-34a3-46f2-84da-6a864b48e433" >
		<http:listener doc:name="Listener" doc:id="5b2379e4-23c8-4e0e-8563-f10e47c31158" config-ref="HTTP_Listener_config" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="0adbae80-319e-44e3-987f-2dbb66902a1f" message="#[payload]"/>
	</flow>
</mule>
